@font-face {
  font-family: "PressuraMono";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.bitskistatic.com/fonts/mono-regular.eot");
  src: url("https://cdn.bitskistatic.com/fonts/mono-regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.bitskistatic.com/fonts/mono-regular.woff2") format("woff2"),
    url("https://cdn.bitskistatic.com/fonts/mono-regular.woff") format("woff"),
    url("https://cdn.bitskistatic.com/fonts/mono-regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "PressuraMono";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.bitskistatic.com/fonts/mono-bold.eot");
  src: url("https://cdn.bitskistatic.com/fonts/mono-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.bitskistatic.com/fonts/mono-bold.woff2") format("woff2"),
    url("https://cdn.bitskistatic.com/fonts/mono-bold.woff") format("woff"),
    url("https://cdn.bitskistatic.com/fonts/mono-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pressura";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.bitskistatic.com/fonts/pr-regular.eot");
  src: url("https://cdn.bitskistatic.com/fonts/pr-regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.bitskistatic.com/fonts/pr-regular.woff2") format("woff2"),
    url("https://cdn.bitskistatic.com/fonts/pr-regular.woff") format("woff"),
    url("https://cdn.bitskistatic.com/fonts/pr-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pressura";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.bitskistatic.com/fonts/pr-bold.eot");
  src: url("https://cdn.bitskistatic.com/fonts/pr-bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.bitskistatic.com/fonts/pr-bold.woff2") format("woff2"),
    url("https://cdn.bitskistatic.com/fonts/pr-bold.woff") format("woff"),
    url("https://cdn.bitskistatic.com/fonts/pr-bold.ttf") format("truetype");
}

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
